.encabezado{
 background-color: rgb(181, 214, 200);
}

    body{
        background: -webkit-linear-gradient(90deg, rgb(193, 223, 122) 10%, rgb(255, 255, 255) 90%);
        background: -moz-linear-gradient(90deg, rgb(179, 223, 122) 10%, rgb(255, 255, 255) 90%);
        background: -ms-linear-gradient(90deg, rgb(154, 223, 122) 10%, rgb(255, 255, 255) 90%);
        background: -o-linear-gradient(90deg, rgb(122, 191, 223)10%, orange 90%);
        background: linear-gradient(90deg, rgb(122, 191, 223) 10%, rgb(255, 255, 255) 90%);
        font-family: Verdana, Geneva, sans-serif;
        line-height: 2em;
        background-color:#222;
    }
    .texto{
        background-color: rgb(223, 223, 255);
        height: 100px;
        width:auto;
    }
.parrafo{
    text-align: center;
   font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}